/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
$top-content-bkg: #ece6d8; // going for a taupe
$bottom-cta-bkg: #ece6d8;
// special colors
/* ----------- end Colors ----------- */
