/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
$top-content-bkg: #ece6d8; // going for a taupe
$bottom-cta-bkg: #ece6d8;
$dusty-green: rgba(219,226,203,1);
$light-tan: #f9f6f1; // used in table backgrounds
$warm-tan: #bc9e77;
$dark-brown: #3f2500;
// special colors
/* ----------- end Colors ----------- */
