/* standard Reach styling of Oshin */
.title-module-wrap.page-title-module-custom {
	padding: 30px 0px 10px 0px;
}
#content.left-sidebar-page,
#content.right-sidebar-page,
.no-sidebar-page .be-section-pad:first-child,
.page-template-page-940-php #content,
.no-sidebar-page #content-wrap,
.portfolio-archives.no-sidebar-page #content-wrap {
	padding-top: 20px;
	padding-bottom: 20px;
}
.tatsu-module {
  margin-bottom: 15px;
}
.page #comments {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
// for IE, make image width 100% s.t. it doesnt get cut off.
// not sure if just in column or not....
.tatsu-column .tatsu-single-image img {
	width: 100%;
}
// for IE, stop ugly buttons
.wpcf7-form .wpcf7-form-control.wpcf7-submit,
input[type="submit"] {
	border: 0px;
	padding: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 3px;
	letter-spacing: 1px;
	font-weight: bold;
	cursor: pointer;
}
.style1-blog .article-details, .style5-blog .article-details, .style6-blog .article-details {
	padding-top: 0px;
	padding-left: 5px;  // so that scripty fonts show.
}
article.blog-post.element {
	margin-bottom: 35px;
	.blog-separator {
		hr.separator {
			margin-top: 10px;
		}
	}
}
